<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>packFiles</key>
		<array>
			<string>mandala2</string>
			<string>mandala3</string>
			<string>mandala4</string>
			<string>mandala5</string>
			<string>mandala6</string>
			<string>mandala7</string>
			<string>mandala8</string>
			<string>mandala9</string>
			<string>mandala10</string>
			<string>mandala11</string>
			<string>mandala12</string>
			<string>mandala1</string>
			<string>Update_4_1</string>
			<string>Update_4_2</string>
			<string>Update_4_3</string>
			<string>Update_4_4</string>
			<string>Update_4_5</string>
			<string>Update_4_6</string>
			<string>Update_4_7</string>
			<string>Update_4_8</string>
			<string>Update_4_9</string>
			<string>Update_4_10</string>
		</array>
		<key>packIcon</key>
		<string>mandala</string>
		<key>packName</key>
		<string>MANDALA 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>mandala13</string>
			<string>mandala14</string>
			<string>mandala15</string>
			<string>mandala16</string>
			<string>mandala17</string>
			<string>mandala18</string>
			<string>mandala19</string>
			<string>mandala20</string>
			<string>mandala21</string>
			<string>mandala22</string>
			<string>mandala23</string>
			<string>Update_4_11</string>
			<string>Update_4_12</string>
			<string>Update_4_13</string>
			<string>Update_4_14</string>
			<string>Update_4_15</string>
			<string>Update_4_16</string>
			<string>Update_4_17</string>
			<string>Update_4_18</string>
			<string>Update_4_19</string>
			<string>Update_4_20</string>
		</array>
		<key>packIcon</key>
		<string>mandala2</string>
		<key>packName</key>
		<string>MANDALA 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>mandala24</string>
			<string>mandala25</string>
			<string>mandala26</string>
			<string>mandala27</string>
			<string>mandala28</string>
			<string>mandala29</string>
			<string>mandala30</string>
			<string>mandala31</string>
			<string>mandala32</string>
			<string>mandala34</string>
			<string>mandala33</string>
			<string>Update_4_21</string>
			<string>Update_4_22</string>
			<string>Update_4_23</string>
			<string>Update_4_24</string>
			<string>Update_4_25</string>
			<string>Update_4_26</string>
			<string>Update_4_27</string>
			<string>Update_4_28</string>
			<string>Update_4_29</string>
			<string>Update_4_30</string>
		</array>
		<key>packIcon</key>
		<string>mandala3</string>
		<key>packName</key>
		<string>MANDALA 3</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>mandala35</string>
			<string>mandala36</string>
			<string>mandala37</string>
			<string>mandala38</string>
			<string>mandala39</string>
			<string>mandala40</string>
			<string>mandala41</string>
			<string>mandala42</string>
			<string>mandala43</string>
			<string>mandala45</string>
			<string>mandala44</string>
		</array>
		<key>packIcon</key>
		<string>mandala4</string>
		<key>packName</key>
		<string>MANDALA 4</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>love1</string>
			<string>love2</string>
			<string>love3</string>
			<string>love4</string>
			<string>love5</string>
			<string>love6</string>
			<string>love7</string>
			<string>love9</string>
			<string>love10</string>
			<string>love11</string>
			<string>love8</string>
		</array>
		<key>packIcon</key>
		<string>love</string>
		<key>packName</key>
		<string>LOVE</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>ForYou1</string>
			<string>ForYou2</string>
			<string>ForYou3</string>
			<string>ForYou4</string>
			<string>ForYou5</string>
			<string>ForYou6</string>
			<string>ForYou7</string>
			<string>ForYou8</string>
			<string>ForYou9</string>
			<string>ForYou10</string>
		</array>
		<key>packIcon</key>
		<string>forYou</string>
		<key>packName</key>
		<string>FOR YOU</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Lotus1</string>
			<string>Lotus2</string>
			<string>Lotus3</string>
			<string>Lotus4</string>
			<string>Lotus5</string>
			<string>Lotus6</string>
			<string>Lotus7</string>
			<string>Lotus8</string>
			<string>Lotus9</string>
			<string>Lotus10</string>
		</array>
		<key>packIcon</key>
		<string>lotus</string>
		<key>packName</key>
		<string>LOTUS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>flower4</string>
			<string>flower6</string>
			<string>flower2</string>
			<string>flower1</string>
			<string>flower3</string>
			<string>flower7</string>
			<string>flower8</string>
			<string>flower9</string>
			<string>flower10</string>
			<string>flower11</string>
			<string>flower5</string>
			<string>flower_U4_1</string>
			<string>flower_U4_2</string>
			<string>flower_U4_3</string>
			<string>flower_U4_4</string>
			<string>flower_U4_5</string>
			<string>flower_U4_6</string>
			<string>flower_U4_7</string>
			<string>flower_U4_8</string>
			<string>flower_U4_9</string>
			<string>flower_U4_10</string>
			<string>flower_U4_11</string>
			<string>flower_U4_12</string>
			<string>flower_U4_13</string>
			<string>flower_U4_14</string>
			<string>flower_U4_15</string>
			<string>flower_U4_16</string>
			<string>flower_U4_17</string>
			<string>flower_U4_18</string>
			<string>flower_U4_19</string>
			<string>flower_U4_20</string>
		</array>
		<key>packIcon</key>
		<string>flowers</string>
		<key>packName</key>
		<string>FLOWERS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>garten6</string>
			<string>garten1</string>
			<string>garten2</string>
			<string>garten4</string>
			<string>garten5</string>
			<string>garten7</string>
			<string>garten8</string>
			<string>garten9</string>
			<string>garten10</string>
			<string>garten11</string>
			<string>garten3</string>
		</array>
		<key>packIcon</key>
		<string>garden</string>
		<key>packName</key>
		<string>GARDEN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>TropGarden1</string>
			<string>TropGarden2</string>
			<string>TropGarden3</string>
			<string>TropGarden4</string>
			<string>TropGarden5</string>
			<string>TropGarden6</string>
			<string>TropGarden7</string>
			<string>TropGarden8</string>
			<string>TropGarden9</string>
			<string>TropGarden10</string>
			<string>TropGarden11</string>
			<string>TropGarden12</string>
		</array>
		<key>packIcon</key>
		<string>exoticGarden</string>
		<key>packName</key>
		<string>EXOTIC GARDEN</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>home1</string>
			<string>home2</string>
			<string>home3</string>
			<string>home4</string>
			<string>home5</string>
			<string>home6</string>
			<string>home7</string>
			<string>home8</string>
			<string>home9</string>
			<string>home10</string>
		</array>
		<key>packIcon</key>
		<string>sweetHome</string>
		<key>packName</key>
		<string>SWEET HOME</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>interior1</string>
			<string>interior2</string>
			<string>interior3</string>
			<string>interior4</string>
			<string>interior5</string>
			<string>interior6</string>
			<string>interior7</string>
			<string>interior8</string>
			<string>interior9</string>
			<string>interior10</string>
		</array>
		<key>packIcon</key>
		<string>interior</string>
		<key>packName</key>
		<string>INTERIOR</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>chair1</string>
			<string>chair2</string>
			<string>chair3</string>
			<string>chair4</string>
			<string>chair5</string>
			<string>chair6</string>
			<string>chair7</string>
			<string>chair8</string>
			<string>chair9</string>
			<string>chair10</string>
		</array>
		<key>packIcon</key>
		<string>chairs</string>
		<key>packName</key>
		<string>CHAIRS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>origami1</string>
			<string>origami2</string>
			<string>origami3</string>
			<string>origami4</string>
			<string>origami5</string>
			<string>origami6</string>
			<string>origami7</string>
			<string>origami8</string>
			<string>origami9</string>
			<string>origami10</string>
			<string>origami11</string>
			<string>origami12</string>
			<string>origami13</string>
			<string>origami14</string>
			<string>origami15</string>
		</array>
		<key>packIcon</key>
		<string>origami</string>
		<key>packName</key>
		<string>ORIGAMI</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>car2</string>
			<string>car7</string>
			<string>car1</string>
			<string>car8</string>
			<string>car3</string>
			<string>car10</string>
			<string>car4</string>
			<string>car9</string>
			<string>car11</string>
			<string>car12</string>
			<string>car5</string>
			<string>car13</string>
			<string>car14</string>
			<string>car6</string>
		</array>
		<key>packIcon</key>
		<string>cars</string>
		<key>packName</key>
		<string>CARS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>M_animal1</string>
			<string>M_animal2</string>
			<string>M_animal3</string>
			<string>M_animal4</string>
			<string>M_animal5</string>
			<string>M_animal6</string>
			<string>M_animal7</string>
			<string>M_animal9</string>
			<string>M_animal8</string>
			<string>M_animal10</string>
		</array>
		<key>packIcon</key>
		<string>steampunk1</string>
		<key>packName</key>
		<string>STEAMPUNK 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>M_animal11</string>
			<string>M_animal12</string>
			<string>M_animal13</string>
			<string>M_animal14</string>
			<string>M_animal16</string>
			<string>M_animal18</string>
			<string>M_animal19</string>
			<string>M_animal15</string>
			<string>M_animal20</string>
			<string>M_animal17</string>
		</array>
		<key>packIcon</key>
		<string>steampunk2</string>
		<key>packName</key>
		<string>STEAMPUNK 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>animal1</string>
			<string>animal2</string>
			<string>animal3</string>
			<string>animal5</string>
			<string>animal4</string>
			<string>animal6</string>
			<string>animal9</string>
			<string>animal7</string>
			<string>animal11</string>
			<string>animal8</string>
			<string>animal10</string>
		</array>
		<key>packIcon</key>
		<string>animals</string>
		<key>packName</key>
		<string>ANIMALS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>snail1</string>
			<string>snail2</string>
			<string>snail3</string>
			<string>snail4</string>
			<string>snail5</string>
			<string>snail6</string>
			<string>snail7</string>
			<string>snail8</string>
			<string>snail9</string>
			<string>snail10</string>
			<string>snail11</string>
			<string>snail12</string>
		</array>
		<key>packIcon</key>
		<string>snail</string>
		<key>packName</key>
		<string>SNAIL</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>dragon1</string>
			<string>dragon2</string>
			<string>dragon3</string>
			<string>dragon4</string>
			<string>dragon5</string>
			<string>dragon7</string>
			<string>dragon6</string>
		</array>
		<key>packIcon</key>
		<string>dragons</string>
		<key>packName</key>
		<string>DRAGONS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>cat1</string>
			<string>cat2</string>
			<string>cat3</string>
			<string>cat4</string>
			<string>cat5</string>
			<string>cat6</string>
			<string>cat7</string>
			<string>cat8</string>
			<string>cat10</string>
			<string>cat11</string>
			<string>cat9</string>
		</array>
		<key>packIcon</key>
		<string>cats</string>
		<key>packName</key>
		<string>CATS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>butterfly1</string>
			<string>butterfly2</string>
			<string>butterfly3</string>
			<string>butterfly4</string>
			<string>butterfly6</string>
			<string>butterfly9</string>
			<string>butterfly7</string>
			<string>butterfly10</string>
			<string>butterfly8</string>
			<string>butterfly11</string>
			<string>butterfly5</string>
		</array>
		<key>packIcon</key>
		<string>butterflies</string>
		<key>packName</key>
		<string>BUTTERFLIES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>bird1</string>
			<string>bird2</string>
			<string>bird3</string>
			<string>bird10</string>
			<string>bird4</string>
			<string>bird5</string>
			<string>bird6</string>
			<string>bird7</string>
			<string>bird9</string>
			<string>bird11</string>
			<string>bird8</string>
		</array>
		<key>packIcon</key>
		<string>birds</string>
		<key>packName</key>
		<string>BIRDS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>owl1</string>
			<string>owl7</string>
			<string>owl2</string>
			<string>owl3</string>
			<string>owl4</string>
			<string>owl6</string>
			<string>owl8</string>
			<string>owl9</string>
			<string>owl10</string>
			<string>owl11</string>
			<string>owl5</string>
		</array>
		<key>packIcon</key>
		<string>owls</string>
		<key>packName</key>
		<string>OWLS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>fisch2</string>
			<string>fisch3</string>
			<string>fisch4</string>
			<string>fisch5</string>
			<string>fisch6</string>
			<string>fisch7</string>
			<string>fisch8</string>
			<string>fisch9</string>
			<string>fisch10</string>
			<string>fisch1</string>
			<string>fisch11</string>
		</array>
		<key>packIcon</key>
		<string>sealife</string>
		<key>packName</key>
		<string>SEA LIFE</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>CoralFish1</string>
			<string>CoralFish2</string>
			<string>CoralFish3</string>
			<string>CoralFish4</string>
			<string>CoralFish5</string>
			<string>CoralFish6</string>
			<string>CoralFish7</string>
			<string>CoralFish8</string>
			<string>CoralFish9</string>
			<string>CoralFish10</string>
			<string>CoralFish11</string>
		</array>
		<key>packIcon</key>
		<string>exoticFish</string>
		<key>packName</key>
		<string>EXOTIC FISH</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>pattern8</string>
			<string>pattern3</string>
			<string>pattern4</string>
			<string>pattern5</string>
			<string>pattern6</string>
			<string>pattern7</string>
			<string>pattern9</string>
			<string>pattern10</string>
			<string>pattern11</string>
			<string>pattern2</string>
			<string>pattern1</string>
		</array>
		<key>packIcon</key>
		<string>patterns</string>
		<key>packName</key>
		<string>PATTERNS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>text1</string>
			<string>text2</string>
			<string>text3</string>
			<string>text4</string>
			<string>text5</string>
			<string>text6</string>
			<string>text7</string>
			<string>text8</string>
			<string>text9</string>
			<string>text10</string>
		</array>
		<key>packIcon</key>
		<string>messages</string>
		<key>packName</key>
		<string>MESSAGES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>flA</string>
			<string>flB</string>
			<string>flC</string>
			<string>flD</string>
			<string>flE</string>
			<string>flF</string>
			<string>flG</string>
			<string>flH</string>
			<string>flI</string>
			<string>flJ</string>
			<string>flK</string>
			<string>flL</string>
			<string>flM</string>
			<string>flN</string>
			<string>flO</string>
			<string>flP</string>
			<string>flQ</string>
			<string>flR</string>
			<string>flS</string>
			<string>flT</string>
			<string>flU</string>
			<string>flV</string>
			<string>flW</string>
			<string>flX</string>
			<string>flY</string>
			<string>flZ</string>
		</array>
		<key>packIcon</key>
		<string>flowerLetters</string>
		<key>packName</key>
		<string>FLOWER LETTERS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>glA</string>
			<string>glB</string>
			<string>glC</string>
			<string>glD</string>
			<string>glE</string>
			<string>glF</string>
			<string>glG</string>
			<string>glH</string>
			<string>glI</string>
			<string>glJ</string>
			<string>glK</string>
			<string>glL</string>
			<string>glM</string>
			<string>glN</string>
			<string>glO</string>
			<string>glP</string>
			<string>glQ</string>
			<string>glR</string>
			<string>glS</string>
			<string>glT</string>
			<string>glU</string>
			<string>glV</string>
			<string>glW</string>
			<string>glX</string>
			<string>glY</string>
			<string>glZ</string>
		</array>
		<key>packIcon</key>
		<string>gothicLetters</string>
		<key>packName</key>
		<string>GOTHIC LETTERS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>stained1</string>
			<string>stained2</string>
			<string>stained3</string>
			<string>stained4</string>
			<string>stained5</string>
			<string>stained6</string>
			<string>stained7</string>
			<string>stained8</string>
			<string>stained9</string>
			<string>stained10</string>
		</array>
		<key>packIcon</key>
		<string>stainedGlass</string>
		<key>packName</key>
		<string>STAINED GLASS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>girl1</string>
			<string>girl2</string>
			<string>girl3</string>
			<string>girl4</string>
			<string>girl5</string>
			<string>girl6</string>
			<string>girl7</string>
			<string>girl8</string>
			<string>girl9</string>
			<string>girl10</string>
		</array>
		<key>packIcon</key>
		<string>ladies</string>
		<key>packName</key>
		<string>LADIES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>fashion1</string>
			<string>fashion2</string>
			<string>fashion3</string>
			<string>fashion5</string>
			<string>fashion6</string>
			<string>fashion4</string>
			<string>fashion8</string>
			<string>fashion9</string>
			<string>fashion10</string>
		</array>
		<key>packIcon</key>
		<string>fashion</string>
		<key>packName</key>
		<string>FASHION</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>MyStyle1</string>
			<string>MyStyle2</string>
			<string>MyStyle3</string>
			<string>MyStyle4</string>
			<string>MyStyle5</string>
			<string>MyStyle6</string>
			<string>MyStyle7</string>
			<string>MyStyle8</string>
			<string>MyStyle9</string>
			<string>MyStyle10</string>
			<string>MyStyle11</string>
			<string>MyStyle12</string>
		</array>
		<key>packIcon</key>
		<string>myStyle</string>
		<key>packName</key>
		<string>MY STYLE</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>shoes1</string>
			<string>shoes2</string>
			<string>shoes3</string>
			<string>shoes4</string>
			<string>shoes5</string>
			<string>shoes6</string>
			<string>shoes7</string>
			<string>shoes8</string>
			<string>shoes9</string>
			<string>shoes10</string>
			<string>shoes11</string>
			<string>shoes12</string>
			<string>shoes13</string>
			<string>shoes14</string>
			<string>shoes15</string>
			<string>shoes16</string>
			<string>shoes17</string>
		</array>
		<key>packIcon</key>
		<string>shoes</string>
		<key>packName</key>
		<string>MY SHOES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>food2</string>
			<string>food3</string>
			<string>food5</string>
			<string>food6</string>
			<string>food1</string>
			<string>food7</string>
			<string>food4</string>
			<string>food8</string>
			<string>food9</string>
			<string>food11</string>
			<string>food10</string>
		</array>
		<key>packIcon</key>
		<string>food</string>
		<key>packName</key>
		<string>FOOD</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>cupcake1</string>
			<string>cupcake2</string>
			<string>cupcake3</string>
			<string>cupcake4</string>
			<string>cupcake5</string>
			<string>cupcake6</string>
			<string>cupcake7</string>
			<string>cupcake8</string>
			<string>cupcake9</string>
			<string>cupcake10</string>
			<string>cupcake11</string>
			<string>cupcake12</string>
		</array>
		<key>packIcon</key>
		<string>cupcakes</string>
		<key>packName</key>
		<string>CUPCAKES</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>doodle1</string>
			<string>doodle2</string>
			<string>doodle3</string>
			<string>doodle4</string>
			<string>doodle5</string>
			<string>doodle6</string>
			<string>doodle7</string>
			<string>doodle8</string>
			<string>doodle9</string>
			<string>doodle10</string>
		</array>
		<key>packIcon</key>
		<string>doodles1</string>
		<key>packName</key>
		<string>DOODLES 1</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>doodle11</string>
			<string>doodle12</string>
			<string>doodle13</string>
			<string>doodle14</string>
			<string>doodle15</string>
			<string>doodle16</string>
			<string>doodle17</string>
			<string>doodle18</string>
			<string>doodle19</string>
			<string>doodle20</string>
		</array>
		<key>packIcon</key>
		<string>doodles2</string>
		<key>packName</key>
		<string>DOODLES 2</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>doodle21</string>
			<string>doodle22</string>
			<string>doodle23</string>
			<string>doodle24</string>
			<string>doodle25</string>
			<string>doodle26</string>
			<string>doodle27</string>
			<string>doodle28</string>
			<string>doodle29</string>
			<string>doodle30</string>
		</array>
		<key>packIcon</key>
		<string>doodles3</string>
		<key>packName</key>
		<string>DOODLES 3</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>Easter1</string>
			<string>Easter2</string>
			<string>Easter3</string>
			<string>Easter4</string>
			<string>Easter5</string>
			<string>Easter6</string>
			<string>Easter7</string>
			<string>Easter8</string>
			<string>Easter9</string>
			<string>Easter10</string>
		</array>
		<key>packIcon</key>
		<string>easter</string>
		<key>packName</key>
		<string>EASTER</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>christmas2</string>
			<string>christmas4</string>
			<string>christmas5</string>
			<string>christmas6</string>
			<string>christmas7</string>
			<string>christmas8</string>
			<string>christmas9</string>
			<string>christmas10</string>
			<string>christmas1</string>
			<string>christmas11</string>
			<string>christmas3</string>
		</array>
		<key>packIcon</key>
		<string>christmas</string>
		<key>packName</key>
		<string>CHRISTMAS</string>
	</dict>
	<dict>
		<key>packFiles</key>
		<array>
			<string>snowflake1</string>
			<string>snowflake2</string>
			<string>snowflake5</string>
			<string>snowflake3</string>
			<string>snowflake6</string>
			<string>snowflake7</string>
			<string>snowflake8</string>
			<string>snowflake9</string>
			<string>snowflake4</string>
			<string>snowflake10</string>
			<string>snowflake11</string>
		</array>
		<key>packIcon</key>
		<string>snowflakes</string>
		<key>packName</key>
		<string>SNOWFLAKES</string>
	</dict>
</array>
</plist>
